/*
 * CSS Styles for Application
 *
 */

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.header ul li.loggedIn {
  display: none;
}

body.loggedIn .header ul li.loggedIn {
  display: inline-block;
}

body.loggedIn .header ul li.loggedOut {
  display: none;
}

.header .logo img {
  width: 50px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */

body > .container {
  padding: 30px 15px 0;
}

.form {
  width: 100%;
  max-width: 400px;
}
.form .checkbox {
  font-weight: 400;
}
.form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form .form-control:focus {
  z-index: 2;
}

.form .inputWrapper.first input.form-control {
  margin-bottom: -1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.form .inputWrapper.last input.form-control {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.form .inputWrapper .form-control {
  margin-bottom: -1px;
  border-radius: 0rem;
}

.form .ctaWrapper {
  margin-top: 10px;
}
.form .checkboxGroup {
  display: flex;
}

.form .checkboxGroup .nameChip {
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 12px;
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.form .checkboxGroup div:nth-child(2n) {
  margin-left: 5px;
}
.form .checkboxGroup div:nth-child(2n + 1) {
  margin-right: 5px;
}
.form .checkboxGroup input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

.form .checkboxGroup input[type="checkbox"]:checked + label {
  color: white;
  background-color: green;
}

.formError {
  display: none;
}

.formSuccess {
  display: none;
}

table tr:first-child {
  background: #d8dce0;
}

/* Page specific styles for dashboard */

#noMembersMessage td,
#noPollMessage td {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  padding: 20px;
}

#noMembersMessage,
#noPollMessage {
  display: none;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
