<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- General Settings -->
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="en-us">
  <base href="{global.baseUrl}" />
  <link rel="stylesheet" type="text/css" href="/public/bootstrap.min.css" />

  <!-- Meta Tags -->
  <title>{head.title} | {global.appName}</title>
  <meta name="description" content="{head.description}">

  <!-- Static Assets -->
  <link type="image/x-icon" rel="icon" href="/favicon.ico">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8" src="/public/app.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/app.css" />

</head>

<body class="{body.class}">
  <!-- Header -->
  <header class="header">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand logo" href="/">
        <img src="/public/logo.png" alt="Logo" /> SotS - Poll</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">Home page</span></a>
          </li>
          <li class="nav-item loggedOut">
            <a class="nav-link" href="/account/create">Signup</a>
          </li>
          <li class="nav-item loggedOut">
            <a class="nav-link" href="/session/create">Login</a>
          </li>
          <li class="nav-item loggedIn">
            <a class="nav-link" href="/members/all">Dashboard</a>
          </li>
          <li class="nav-item loggedIn">
            <a class="nav-link" href="/account/edit">Account Settings</a>
          </li>
          <li class="nav-item loggedIn">
            <a class="nav-link" href="#" id="logoutButton">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Page-Specific Content -->
  <main role="main" class="container">