<div class="jumbotron">
  <h1 class="display-4">Create Your Account</h1>
  <h2>Signup is easy and only takes a few seconds.</h2>
  <hr class="my-4">
  <div class="formWrapper">
    <form class="form" id="accountCreate" action="/api/teams" method="POST">
      <div class="alert alert-danger formError" role="alert">
      </div>
      <div class="inputWrapper first">
        <label for="name" class="sr-only">Team name</label>
        <input class="form-control" type="text" name="name" placeholder="Your team name" required autofocus />
      </div>
      <div class="inputWrapper last">
        <label for="password" class="sr-only">Choose a password</label>
        <input class="form-control" type="password" name="password" placeholder="Password" required />
      </div>
      <div class="ctaWrapper">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Get Started</button>
      </div>
    </form>
  </div>
</div>