<div class="jumbotron">
  <h1 class="display-4">Add A Team Member</h1>
  <h2>Add a new member to make your team awesome</h2>
  <a class="btn btn-dark backButton" href="/members/all">Back</a>
  <hr />


  <div class="formWrapper">
    <form class="form" id="membersCreate" action="/api/members" method="POST">
      <div class="alert alert-danger formError" role="alert"></div>

      <div class="inputWrapper first">
        <label for="firstName" class="sr-only">First Name</label>
        <input class="form-control" type="text" name="firstName" placeholder="First name" required autofocus />
      </div>

      <div class="inputWrapper">
        <label for="lastName" class="sr-only">Last Name</label>
        <input class="form-control" type="text" name="lastName" placeholder="Last name" required />
      </div>

      <div class="inputWrapper last">
        <label for="email" class="sr-only">Email</label>
        <input class="form-control" type="email" name="email" placeholder="Email" required />
      </div>

      <div class="ctaWrapper">
        <button type="submit" class="btn btn-primary btn-block">Add Member</button>
      </div>
    </form>
  </div>
</div>