<div class="jumbotron">
  <h1 class="display-4">Edit Poll</h1>

  <div class="formWrapper">
    <form class="form" id="pollEdit1" action="/api/poll" method="PUT">
      <input type="hidden" name="_method" value="PUT" />
      <div class="alert alert-danger formError" role="alert"></div>
      <div class="alert alert-success formSuccess" role="alert">Your Changes Have Been Saved</div>
      <div class="inputWrapper first">
        <label for="memberId" class="sr-only">Poll ID</label>
        <input class="form-control disabled pollIdInput" type="text" name="pollId" disabled />
      </div>
      <div class="inputWrapper">
        <label for="teamName" class="sr-only">Team Name</label>
        <input class="form-control disabled teamNameInput" type="text" name="teamName" disabled />
      </div>
      <div class="inputWrapper">
        <label for="pollTitle" class="sr-only">Poll Title</label>
        <input class="form-control pollTitleInput" type="text" name="pollTitle" placeholder="Poll title" required
          autofocus />
      </div>
      <div class="inputWrapper last">
        <label for="pollDescription" class="sr-only">Poll Title</label>
        <input class="form-control pollDescriptionInput" type="text" placeholder="Poll description"
          name="pollDescription" />
      </div>
      <div class="inputWrapper">
        <div class="inputLabel">Select team members to include</div>
        <div class="checkboxGroup" id="membersList">
          <!-- Checkbox is added dynamically -->
        </div>
      </div>
      <div class="ctaWrapper">
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</div>

<h2>Delete The Poll</h2>
<div class="formWrapper">
  <form id="pollEdit2" action="/api/poll" method="DELETE">
    <input type="hidden" name="_method" value="DELETE" />
    <div class="alert alert-danger formError" role='alert'></div>
    <div class="alert alert-danger warning">Warning: This action cannot be undone. Don't click this button on
      accident!</div>
    <input class="hiddenIdInput" type="hidden" name="uid" />
    <div class="ctaWrapper">
      <button type="submit" class="btn btn-danger btn-lg">Delete Poll</button>
    </div>
  </form>
</div>